/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #000000;
    padding: 15px;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background-image: url('hero-bg.jpg'); /* Añade tu imagen de fondo */
    background-size: cover;
    color: rgb(0, 0, 0);
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 24px;
}

.btn {
    display: inline-block;
    background-color: #ff5733;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.btn:hover {
    background-color: #e74c3c;
}

.about, .store {
    text-align: center;
    padding: 50px 20px;
}

.game-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    width: 300px;
}

.game-item h2 {
    font-size: 24px;
}

.game-item p {
    margin: 5px 0;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
